
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIH 2024</title>
<style>

.button:hover{
cursor:pointer;
}

</style>
	
</head>
<body style="background-color:#023047;font-family:unset;">
	

	{% extends 'base.html' %}
{% load static %}


{% block content %}
<video  width="500" height="380" class="center" autoplay loop>
  <source src= "{% static 'Hello.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>
	<div class="form-style" align="middle" >
	<a href="{% url 'animation' %}"><button class="button" style="font-family:cursive;padding: 5px;border:1px solid black;border-radius:10px;color:white;background-color: green;">Translate</button></a>
	</div>
	<a target="_blank"  href="https://react-screen-recorder-vpa4.vercel.app/" style="text-decoration: none;background-color: #fff;padding: 5px;border-radius:6px;border:2px solid green; color: green; font-family: cursive; position: fixed; bottom: 10px; right: 10px;">
		Screen Capture
	  </a>
	  
{% endblock %}

</body>
</html>

